<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página teste</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>

        <label for="">Registo</label>
        <input type="text" id="register-name" placeholder="nome">
        <br>
        <input type="email" id="register-email" placeholder="email">
        <br>
        <input type="password" id="register-password" placeholder="password"> 
        <br>
        <button id="register-submit">Registar</button>
        
        <br>
        <hr>
        <br>

        <label for="login">Login</label>
        <br>
        <input type="email" id="login-email" placeholder="email">
        <br>
        <input type="password" id="login-password" placeholder="password"> 
        <br>
        <button id="login-submit">Login</button>

        <br>
        <hr>
        <br>

        <label for="novoMovimento">Criar movimento</label>
        <br>
        <input type="number" id="user-id" placeholder="user">
        <br>
        <input type="number" id="categoria-id" placeholder="categoria"> 
        <br>
        <input type="number" id="valor" placeholder="valor">
        <br>
        <input type="date" id="data" placeholder="Data"> 
        <br>
        <input type="text" id="descricao" placeholder="Descrição">
        <br>
        <input type="number" id="tipo-movimento" placeholder="1-saída / 2-entrada"> 
        <br>
        <button id="movimento-submit">Novo Movimento</button>

        <br><hr><br>

        <button id="logout">Logout</button>

        <br><hr><br>

        <label for="">Nova password</label>
        <input type="text" id="user-email" placeholder="email">
        <br>
        <input type="email" id="nova-password" placeholder="nova password">
        <br>
        <input type="password" id="confirma-password" placeholder="confirmar password"> 
        <br>
        <button id="password-submit">Registar</button>



    </main>
    <script src="/script.js"></script>
</body>
</html>