
body{
    background-color: rgb(31, 78, 121);
    color: beige;
}

nav{
    background-color: rgb(24, 66, 105) !important;
}
input, select, textarea{
    background-color: rgb(31, 78, 121) !important;
    border: none !important;
    color: beige !important;
}

button{
    background-color: rgb(255, 192, 0) !important;
    color: white !important;
}
.cardColor{
    background-color: rgb(31, 78, 121);
    color: white;
    text-align: left;
}

.logoTitle{
    padding: 0;
    margin: 0;
}

.menuIcon{
    filter: invert(74%) sepia(85%) saturate(1462%) hue-rotate(356deg) brightness(99%) contrast(107%);
}

.centerDivNav{
    height: 100%;
    display: flex;
    align-items: center;
}

#navTitle{
    justify-content: center;
}

#rightMenuDiv{
    justify-content: end;
}

#divSidebarMenu{
    background-color: rgb(24, 66, 105) !important;
    color: beige !important;
}

a{
    color: cadetblue !important;
}

#divSidebarMenuRight{
    background-color: rgb(24, 66, 105) !important;
    color: beige !important;
}

.nav-item{
    padding: 0 !important;
    margin-top: 0.5rem !important;
}

.nav-item > a{
    text-decoration: none !important;
}

.cardColor{
    background-color: rgba(175, 175, 175, 0.116);
    color: white;
    text-align: left;
    gap: 1rem;
    
}