<form method="GET" id="loginForm">
  <div class="login-title">
    <img class="shadow-lg" src="../images/logo.png" alt="Logo" height="128" width="128">
    <h4><b>LOGIN</b></h4>
  </div>

  <div class="form-container">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" name="email" required />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />

    <button type="submit" id="login-submit">Login</button>
  </div>

  <div class="otherLoginOptions">
    <div class="newUser">
      <a href="register" id="register">New User</a>
    </div>
    <div class="newPassword">
      <a href="reset"  id="reset"
        >Forgot your password?</a
      >
    </div>
  </div>
</form>

<script src="js/login.js"></script>
