        <div class="gridAccounts">
            <div class="account1Details">
                <h3>Detalhes das contas associadas</h3>
                <p>Conta atual</p>
                <p>Saldo</p>
                <p>Nome</p>
                <p>Número da conta</p>



            </div>
            <div class="account2Details">
                <p>Conta 2</p>
                <p>Saldo</p>
                <p>Nome</p>
                <p>Número da conta</p>
            </div>


        </div>
