<script>
  // Script de criação de variável user com todos os movimentos a ser usada para as estatisticas

  user = {
    id: "<%= id %>",
    name: "<%= nome %>",
    email: "<%= email %>",
  };
</script>

<main class="container p-4 mt-5 mb-5 containerDetails">
  <div class="detailsTitle">
    <h3>Account Details</h3>
  </div>
  <div id="cardDetails" class="card w-100 cardColor">
    <div class="conta-atual"><span style="color: rgba(240, 248, 255, 0.603);" id="contaAtualDetalhes">Current Account: </span></div>
    <div class="conta-atual"><span style="color: rgba(240, 248, 255, 0.603);" id="saldoDetalhes">Balance: </span></div>
    <div class="conta-atual"><span style="color: rgba(240, 248, 255, 0.603);" id="emailDetalhes">Email: </span></div>
  </div>
</main>
