        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="CategoryAnualSpendings col-2">
                        <i class="fa-solid fa-house"></i> <!-- NOT WORKING-->
                        <p>Food</p>
                    </div>
                    <div class="CategoryAnualSpendings col-2">
                        <p>Car</p>
                    </div>
                    <div class="CategoryAnualSpendings col-2">
                        <p>Turism</p>
                    </div>
                    <div class="CategoryAnualSpendings col-2">
                        <p>Clothing</p>
                    </div>
                    <div class="CategoryAnualSpendings col-2">
                        <p>Going Out</p>
                    </div>
                    <div class="CategoryAnualSpendings col-2">
                        <p>Vet</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="monthlySpendings col-6" id="monthlySpendingsHeight">
                <canvas id="monthlySpendingsChart"></canvas>
            </div>
            <div class="periodVariation col-6">
                <canvas id="periodVariationChart"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="bigTransactions col-6" id="bigTransactionsSpendingsHeight">
                <canvas id="bigTransactionsChart"></canvas>
            </div>
            <div class="income col-6">
                <canvas id="incomeChart"></canvas>
            </div>
        </div>
    
        <script src="js/accessCategories.js"></script>