<script>
  // Script de criação de variável user com todos os movimentos a ser usada para as estatisticas

  user = {
    id: "<%= id %>",
    name: "<%= nome %>",
    email: "<%= email %>",
  };
</script>

<% var escolha %>

<main class="container pt-5">
  <div class="transactionsGrid">
    <div class="newTransaction">
      <h3>New transaction</h3>
      <form id="adicionar-movimentos-div">
        <div class="form-group">
          <label for="exampleFormControlInput1">How much:</label>
          <input
            name="valor"
            type="number"
            class="form-control"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Transaction type: </label>
          <select name="tipo" class="form-control">
            <option value="" selected disabled>Choose a type</option>
            <option value="0">Income</option>
            <option value="1">Expense</option>
          </select>
        </div>
        <div class="form-group">
          <label for="categorias">Category: </label>
          <select
            name="categorias"
            class="form-control"
            id="category-select"
          ></select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description:</label>
          <textarea name="descricao" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="data">Date:</label>
          <input
            name="data"
            class="form-control"
            type="date"
            value=""
            style="width: 100%"
            id="datePicker"
          />
        </div>
        <div class="form-check">
          <input
            name="fixo"
            class="form-check-input"
            type="checkbox"
            id="fixoInput"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Upcoming Transaction
          </label>
        </div>
        <button
          id="insertButton"
          type="button"
          class="btn btn-dark w-100"
        >
          <b>Create</b>
        </button>
      </form>
    </div>
    <div class="lastTransactions">
      <h4>Your transactions</h4>
      <div id="movimentos-totais" class="list-group"></div>
    </div>
    <div class="newCategory">
      <h4>Create a new category</h4>
      <div class="nova-categoria">
        <label for="categoria">Name:</label>
        <input
          id="idNovaCategoria"
          name="categoria"
          type="text"
          class="form-control"
          placeholder=""
        />
        <button
          id="insertButtonCategory"
          type="button"
          class="btn btn-dark w-100"
        >
          <b>Create</b>
        </button>
      </div>
    </div>
    <div class="upcomingTransactions">
      <h4>Upcoming Transactions</h4>
      <div id="proximas-despesas" class="list-group card-list"></div>
    </div>
    <div class="everyMonthTransactions">
      <h4>Every month transactions</h4>
      <div id="despesas-mensais-fixas" class="list-group card-list"></div>
    </div>
  </div>
</main>
